Alternative strawman proposal for the spice-charter

While I agree that "the SPICE WG will develop a framework in support of the 'Three Role Model', selective disclosure, and unlinkability", I do not agree that  "the SPICE WG should only aim to support digital credential formats based on existing IETF standards", since no such IETF standards (i.e. RFC) currently exists.

While I agree that "the work of the SPICE WG should align with the 'Three Role Model' as introduced by W3C's 'Verifiable Credentials Data Model v2.0' specification", it is premature to say in a charter which "Internet CrEdentials at IETF" format(s) will be supported, e.g., JWT or CWT.

On the SPICE mailing list, I made the following proposal by sending a straw-man proposal:

> " The SPICE WG will concentrate on digital Credentials used by individuals in the context of digital identity wallets, where privacy, security and usability are major concerns".

One participant answered that he was OK with this sentence .

However, currently, the SPICE Charter contains a single occurrence of the word "wallet" in the "Motivating Use Cases" but not in the work plan.

Below is a straw-man proposal sent to the SPICE mailing list, proposed as a replacement of the first proposal, to generate discussion of its merits and drawbacks and to spur the generation of new and better proposals.

The SPICE WG will develop a framework in support of the three-roles model (i.e., Holder, Issuer and Verifier), with selective disclosure of claims and unlinkability of an Holder between Verifiers.

In this model, a Holder obtains some Credentials from one or more Issuers and performs a local transformation of these Credentials before a subset of the claims present in these Credentials is presented to a Verifier.

The SPICE WG will concentrate on the use of digital Credentials by individuals which will be usable for C to B and by using, by using in addition, roles and group memberships will also be usable for B to B. 

C to B mandates the use of different character sets (UTF 8) and, in particular country specific graduations or diplomas. 

B to B mandates the use of different character sets (UTF 8) and, in particular, to add country specific jobs/positions meanings.

The SPICE WG will concentrate on digital Credentials used by individuals in the context of digital identity wallets, where privacy, security and usability are major concerns. 

-    Privacy considerations will include the support of the selective disclosure of claims and the prevention of correlation between different Verifiers (i.e., supporting the unlinkability property), in particular through the use of techniques such as blinded signatures and Zero-Knowledge Proofs (ZKPs). 

-    Security considerations will include mechanisms to prevent collusions attacks between individuals against a Verifier, in particular when the disclosed claims do not contain a set of claims that allows the Verifier to unambiguously identify individuals between Verifiers.

-    Usability considerations will include ease of use and recommendations for the use of a human-machine interface (HMI) that individuals could trust. 

     Such mechanism should be effective even when a rogue application is present in the Client.

The revocation of the Credentials will be considered, in particular while supporting the unlinkability property.

Below is the overall picture of what would need to be done. This does not mean that all these work items should be developed by the SPICE WG.

1.    An Informational document to describe a framework for the three-roles model (i.e., Holder, Issuer and Verifier) and additional components for the support of this model;

2.    An Informational document on Core concepts for Trusted Clients for digital identity wallets;

3.    An Informational document for the revocation of Credentials while supporting the unlinkability between verifiers.

 4.    Standards Track document(s) specifying Credentials schemas, defined using JSON-LD, for individuals able to support verification methods and basic claims (as well as claims extensions) displayable in several languages;

Note 1: Using JSON-LD does not mean embracing RDF.

Note 2: the JOSE WG would be well placed to accomplish this task using both :

-   the Verifiable Credentials Data Model v2.0 (https://www.w3.org/TR/vc-data-model-2.0/) and
-   the "Credential Schema" (i.e., JSON Schemas for Verifiable Credentials) currently under development by W3C (https://www.w3.org/TR/vc-json-schema/)

5.    Standards Track document(s) specifying Schemas or Models associated with Issuers and with Verifiers; 

Note 3: If Issuers and Verifiers can be considered as "Things", then a subset of Web of Things (WoT) Thing Description 1.1 should be considered (https://www.w3.org/TR/wot-thing-description11)

6.    Standards Track document(s) for protocols allowing an Holder to request to an Issuer and then to receive from it a certain Credential

Note 4: [OpenID4VCI] OpenID for Verifiable Credential Issuance should be considered: https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html. 
                        
However, this document is mandating the use of OAuth 2.0, whereas the protocols do not need to be OAuth 2.0 dependant.

7.    Standards Track document(s) for protocols allowing an Holder to build and then send a Proof to a Verifier.

One or more of these goals may be combined into a single document, in which case the concrete milestones for these goals will be satisfied by the consolidated document(s).

An informal goal of the working group is close coordination with the JOSE WG, OpenID Connect and the IRTF CFRG that has made available a draft on BBS+ signatures (draft-irtf-cfrg-bbs-signatures-latest)


> While I agree that "the SPICE WG will develop a framework in support of the 'Three Role Model', selective disclosure, and unlinkability", I do not agree that "the SPICE WG should only aim to support digital credential formats based on existing IETF standards", since no such IETF standards (i.e. RFC) currently exists.

The first version of W3C Verifiable Credentials was based on https://datatracker.ietf.org/doc/html/rfc7519

The second version is based on https://datatracker.ietf.org/doc/draft-ietf-oauth-selective-disclosure-jwt/

Perhaps the third version will be based on  https://datatracker.ietf.org/doc/html/draft-ietf-jose-json-proof-token

But the W3C VCWG will have to decide how they want to secure JSON-LD claimsets.

> While I agree that "the work of the SPICE WG should align with the 'Three Role Model' as introduced by W3C's 'Verifiable Credentials Data Model v2.0' specification", it is premature to say in a charter which "Internet CrEdentials at IETF" format(s) will be supported, e.g., JWT or CWT.

There seemed to be good consensus on the lists to align COSE and JOSE to the three role model.

> One participant answered that he was OK with this sentence .

I'm not Ok with that sentence, and we discussed this both in meetings and on the list. There was no strong consensus to focus on only personal credentials use cases, and contributors have noted that OAUTH is already addressing these use cases.

...

CBOR and JSON both support UTF-8.



> * Privacy considerations will include the support of the selective disclosure of claims and the prevention of correlation between different Verifiers (i.e., supporting the unlinkability property), in particular through the use of techniques such as blinded signatures and Zero-Knowledge Proofs (ZKPs).

I'm happy to look at other IETF approved crypto such as BBS, or RSA work done at CFRG, but I don't think we need a new WG to contribute to adopted work items that are already doing this.

> * Security considerations will include mechanisms to prevent collusions attacks between individuals against a Verifier, in particular when the disclosed claims do not contain a set of claims that allows the Verifier to unambiguously identify individuals between Verifiers.

This seems to be a repeat of the point above... and was also discussed on the list.

> Note 1: Using JSON-LD does not mean embracing RDF.

> JSON-LD is a [concrete RDF syntax](https://www.w3.org/TR/rdf11-concepts/#dfn-concrete-rdf-syntax) as described in [[RDF11-CONCEPTS](https://www.w3.org/TR/json-ld11/#bib-rdf11-concepts)]. Hence, a JSON-LD document is both an RDF document and a JSON document and correspondingly represents an instance of an [RDF data model](https://www.w3.org/TR/rdf11-concepts/#data-model).

- https://www.w3.org/TR/json-ld11/#relationship-to-rdf

Speaking as a person who works with JSON-LD a lot... this is simply not true, and has caused a lot of harm in the W3C... Its misleading to say you can use JSON-LD well without understanding RDF.

> Note 2: the JOSE WG would be well placed to accomplish this task using both :

I agree, I think we should support the JOSE work items, and when they are ready to be profiled for credentials, we should profile them... similar to how SD-JWT or SD-CWT is currently planned to be profiled.

> Note 3: If Issuers and Verifiers can be considered as "Things", then a subset of Web of Things (WoT) Thing Description 1.1 should be considered (https://www.w3.org/TR/wot-thing-description11)

I don't think we need WoT or any other W3C work that is specific to RDF.

> Note 4: [OpenID4VCI] OpenID for Verifiable Credential Issuance should be considered: https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html.

I agree, I think we covered this in the current text.

> One or more of these goals may be combined into a single document, in which case the concrete milestones for these goals will be satisfied by the consolidated document(s).

This speaks to the potential documents that the working group, if formed might work on.

I tend to prefer documents that focus on doing 1 thing well, and that are very narrow in focus, for example SD-JWT or SD-CWT need to be profiled for the 3 role model in separate documents, this seems like a good thing.

> An informal goal of the working group is close coordination with the JOSE WG, OpenID Connect and the IRTF CFRG that has made available a draft on BBS+ signatures (draft-irtf-cfrg-bbs-signatures-latest)

I agree with this.

## Summary

I think much of what you wrote has been captured in the existing draft charter and BoF request.

There are specific asks where I don't feel there is clear agreement, on 2 points.

1. JSON-LD / RDF and IETF
2. unlinkability only, vs profiles of standards with clear descriptions of trade offs.

My sense from the list conversations and the calls I have attended is that folks interested in doing this work at IETF are not in support of mandating JSON-LD (and indeed W3C is already mandating it, so this would be repeating that work).

Unlinkability is of interest to the group and coordination is already in progress.


As an individual, I agree with Orie's assessment - and explicitly with:

* unlinkability is of interest to the group and coordination is already in progress
* not in support of mandating JSON-LD/RDF (actually excluding it, as that is that is W3C turf)
* not pulling WoT in scope
* building the charter on COSE and JOSE work
* coordination with OpenID Connect and the IRTF CFRG

I agree with both Orie and Henk. In particular, JSON-LD should remain the concern of the VCWG at W3C.

Fine. So let us forget about JSON-LD.

Since objects may be complex, once a byte string has been parsed against a format/syntax using an appropriate parser, an automatic tool would be useful to verify that the object received has an expected structure and content according to a given context.

One possibility is to process a received byte string against a schema using a validator. 

One nice feature of JSON-LD is its capability to import data structures defined "elsewhere", 
i.e. by other organizations.

Since JSON-LD will not be used, which other language and which tool(s) should we consider ?



> One possibility is to process a received byte string against a schema using a validator.

That is why we are intending to use STD 94 (RFC 8949) and RFC 8610.

The message structures we intend to re-use are: RFC 7519 and preferably RFC 8392. 

The response to this last comment has been provided in a new issue called:
 Processing a received byte string against a schema #8 